@import "./menuConfiguracion.css";
@import "./modoOsucro.css";
@import "./historialesCarusel.css";
@import "./contenidoScroll.css";
@import "./comentarios.css";
@import "./configuracion.css";
@import "./responisvo.css";
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  position: relative;
}

/* Estilos para el contenido principal */
.contenido-principal {
  margin-left: 200px;
  max-width: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*Estilos del navegador*/
.red-social-navbar {
  flex: 0 0 60px;
  display: flex;
  align-items: flex-start;
  padding: 40px;
  border-right: 1px solid #ccc;
  position: fixed;
  z-index: 1000;
}
/* Estilos para el ícono de Instagram */
.instagram-icon {
  width: 100px;
  height: 90px;
}
/* Estilos para los elementos de la lista */
.navbar-links {
  text-align: right;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-weight: center;
  text-decoration: none;
}
.nav-link-content {
  display: flex;
  align-items: center;
}
.nav-link i {
  margin-right: 20px;
}
/* Agregar una animación de empuje al pasar el cursor sobre los íconos */
.nav-link .bi {
  font-size: 26px;
  transition: transform 0.2s ease-in-out;
}
/* Agregar una animación de empuje al pasar el cursor sobre los íconos */
.nav-link:hover .bi {
  transform: scale(1.1);
}
.nav-link:hover {
  cursor: pointer;
}
.nav-link-content .bi {
  font-size: 24px;
}

.boton-ajuste {
  display: flex;
  align-items: center;
  margin-top: 140px;
  justify-content: flex-start;
  margin-left: 20px;
}
.ajustes-button {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
}
.ajustes-button > div {
  background-color: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
.ajustes-button:hover div:first-child {
  transform: rotate(40deg);
}
.ajustes-button:hover div:nth-child(2) {
  opacity: 0;
}

.ajustes-button:hover div:last-child {
  transform: rotate(-40deg);
}
/*Ajusto el contenido*/
.historiales-wallpaper {
  border-radius: 20px 20px 0 0; /* Redondea solo la parte superior */
  padding: 20px;
  width: 100%; /* Ocupa todo el espacio horizontal disponible */
  text-align: center;
  position: relative;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  margin-bottom: 0; /*  /* Incluye el padding en el ancho total */
}

/*Estilos sugerencia de contacto*/
.sugerencia-contactos {
  flex: 0 0 300px;
  padding: 20px;
  background-color: #f7f7f7;
}
