/* Menu Configuracion */
.menu-configuracion {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19%;
  left: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  z-index: 1;
}
.menu-configuracion hr {
  border: none;
  border-top: 1px solid #000000;
  margin: 10px 0;
}
.menu-item-button {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-left: 10px;
  padding: 0;
}

.menu-link-text {
  flex: 1;
  margin-left: 10px;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 14px;
}

.menu-link {
  font-weight: center;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.menu-link i {
  margin-left: 10px;
  margin-right: 10px;
}

.menu-link-content {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.menu-link .bi {
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
}

.menu-link:hover .bi {
  transform: scale(1.1);
}

.menu-link:hover {
  cursor: pointer;
}

.menu-link-content .bi {
  font-size: 20px;
}
